// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2022 PHYTEC Messtechnik GmbH
 * Author: Wadim Egorov <w.egorov@phytec.de>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/k3.h>

&{/} {
	display {
		compatible = "lincolntech,lcd185-101ct";
		backlight = <&backlight>;

		port {
			lcd_in0: endpoint {
				remote-endpoint = <&oldi_out0>;
			};
		};
	};

	backlight: backlight {
		pinctrl-names = "default";
		pinctrl-0 = <&bl_pwm_pins_default>;

		compatible = "pwm-backlight";

		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;

		enable-gpios = <&gpio_exp 5 GPIO_ACTIVE_HIGH>;
		pwms = <&epwm0 1 50000 0>;
	};
};

&main_pmx0 {
	bl_pwm_pins_default: bl-pwm-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01b8, PIN_INPUT, 2) /* (C13) SPI0_CS1.EHRPWM0_B */
		>;
	};

	touch_screen_pins_default: touch-screen-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x048, PIN_OUTPUT, 7) /* (N25) GPMC0_AD3.GPIO0_18 - RST */
			AM62X_IOPAD(0x04c, PIN_INPUT, 7) /* (P24) GPMC0_AD4.GPIO0_19 - INT */
		>;
	};
};

&epwm0 {
	status = "okay";
};

/* HACK: Enabling both DSS ports is not working */
&hdmi {
	status = "disabled";
};

&hdmi_transmitter {
	status = "disabled";
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	/* VP1: LVDS Output */
	port@0 {
		reg = <0>;

		oldi_out0: endpoint {
			remote-endpoint = <&lcd_in0>;
		};
	};
};

&main_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	touchscreen@5d {
		compatible = "goodix,gt928";
		reg = <0x5d>;

		pinctrl-names = "default";
		pinctrl-0 = <&touch_screen_pins_default>;

		interrupt-parent = <&main_gpio0>;
		interrupts = <19 IRQ_TYPE_LEVEL_LOW>;

		reset-gpios = <&main_gpio0 18 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&main_gpio0 19 GPIO_ACTIVE_HIGH>;

		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};
